node_modules
.env
.env.example
logs/
*.log
/config/flowtask-548109-firebase-adminsdk-7c783-6d5387c0e9.json
config/flowtask-548109-firebase-adminsdk-7c783-6d5387c0e9.json
# Firebase service account files
/config/*firebase-adminsdk*.json
config/flowtask-chat-firebase-adminsdk-fbsvc-e97d735780.json